h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  min-height: 55vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
  position: relative;
  background: rgba(0, 0, 0, 0.426);
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px 1px;
  z-index: -1;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 40px;
}

.text-orange {
  color: #f28f16;
}

.option {
  border-radius: 15px;
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: hsla(0, 0%, 88%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E1E1E1", endColorstr="#DDDDDD", GradientType=1);
  border-top: rgb(195, 195, 195) solid 1px;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.option:hover {
  background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
  color: black;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
  border-radius: 3px;
}

.selectopt {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

input:checked + label {
  order: 1;
  z-index: 2;
  background: hsla(0, 0%, 76%, 1);

  background: hsla(0, 0%, 88%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E1E1E1", endColorstr="#DDDDDD", GradientType=1);
  border-top: none;
  position: relative;
}

input:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: "";
  background: hsla(0, 0%, 88%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 88%, 1) 0%,
    hsla(0, 0%, 87%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E1E1E1", endColorstr="#DDDDDD", GradientType=1);
}

.body-toys {
  background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
}

.text-header {
  color: #eb466b 100%;
}

/* From uiverse.io by @satyamchaudharydev */
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 400px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}

/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

#contenedor-cards {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-description {
  text-align: center;
  font-size: 1.1rem !important;
  margin-bottom: 3.5rem !important;
}

.card-text {
  margin: 2rem 0 !important;
  font-size: 1.3rem !important;
  letter-spacing: 1px;
  color: red;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  width: 22rem;
}

.card-header img {
  width: 100%;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  min-height: 250px;
  align-items: center;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.category-div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.tag-teal {
  margin-bottom: 10px;
  background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
  margin-bottom: 35px;
}

.user-info small {
  color: #545d7a;
}

.btn-comprar {
  border-radius: 50%;
  border: none;
  /*   height: 50px;
  width: 50px; */
  padding: 10px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.btn-comprar:hover {
  background: orange;
}

.card-button {
  transform: translate(-50%, 205%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  margin-bottom: 8px;
  cursor: pointer;
}

.card:hover {
  border-color: #df257b;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 0.1%);
  opacity: 1;
}

@media screen and (min-width: 620px) {
  .movile-button {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .card-button {
    display: none;
  }

  .movile-button {
    background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
    border-radius: 1rem;
    border: none;

    color: #fff;
    font-size: 1rem;
    padding: 6px;
    transition: 500ms ease-in-out;
  }

  .movile-button:hover {
    transform: scale(1.09);
  }
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: rgb(231, 231, 231);
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: rgb(231, 231, 231);
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  background-color: #e4e4e4;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 2rem;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: #dfa725;
}

.pie-pagina .grupo-2 {
  border-top: 1px solid rgba(230, 230, 230, 0.392);
  padding: 15px 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.463);
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.nav-link:hover {
  color: white;
}

.active {
  color: white !important;
}

#pet-items-select {
  border: 2px solid red;
  padding: 10px;
  border-radius: 20px;
  width: 17rem;
}

.titlee {
  text-align: center;
}
