
.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-index-gaston{
    background-image: url(../img/dog-looking-suprised.png);
}
.index-main-area {
  height: 90vh;
  width: 100%;
}
.nav-link:hover{
  color: white;
}

.active {
 color: white !important;
}
.body-index {
  background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
}

.text-orange-gaston {
  color: #ffa500;
}
.main-title {
    font-size: 5rem;
    font-weight: bold;
    
}
/* 
.bg-glass {
    backdrop-filter: blur(0px) saturate(180%);
    -webkit-backdrop-filter: blur(0px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.36);
    border: 1px solid rgba(209, 213, 219, 0.3);
} */

.section-1 {
    height: 40vh;
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url("../img/bulldog-ingles-perro-pura-sangre-sobre-fondo-amarillo-copiar-espacio_666637-199.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.div-main{
    margin: 0 auto;
}
.section-2 {
    height: 100%;
    display: flex;
}
.img-swiper{
    height: 550px;
    width: 100%;
    object-fit: cover;
    
}
.img-swiper-cat{
    height: 550px;
    width: 400px;
    object-fit: cover;
}

.section-2-box {
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-2-title {
    font-size: 3rem;
    font-weight: bold;
}


@media screen and (max-width:741px) {
  .section-2 {
    flex-direction: column;
    align-items: center;
  }
}

.orange {
    color: #ffa500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section3{
    height: 100%;
    margin-top: 50px;
}
/* body{
    background-color: #ffa500;
} */
.pie-pagina {
    width: 100%;

  
  
  }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: rgb(231, 231, 231);
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p {
    color: rgb(231, 231, 231);
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    background-color: #e4e4e4;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 2rem;
  }
  .pie-pagina .grupo-1 .red-social a:hover {
    color: #dfa725;
  }
  
  .pie-pagina .grupo-2 {
    
    border-top: 1px solid rgba(230, 230, 230, 0.392);
    padding: 15px 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.463);
  }
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }
  @media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
    }
  }

.main-content {
  background: linear-gradient(to left, #f28f16 0%, #eb466b 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E96107", endColorstr="#FFA500", GradientType=1 );
	padding-top: 100px;
	padding-bottom: 100px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.rating-card {
background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.rating-number {
	font-size: 50px;
	font-weight: 600;
}
.rating-number small {
	font-size: 16px;
}

.rating-stars:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #eee;
}

.rating-stars .filled-star {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffc107;
}

.rating-stars img {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

.rating-progress {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rating-progress .rating-grade {
	padding: 3px 20px 3px 0;
	float: left;
	width: 50px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.rating-progress .rating-grade img {
	height: 15px;
	margin-left: 3px;
}
.rating-progress .progress {
	float: left;
	width: calc(100% - 110px);
	border-radius: 10px;
}
.rating-progress .progress .bg-warning {
	background-color: #ffc107 !important;
	border-radius: 10px;
}
.rating-progress .rating-value {
	padding: 3px 0 3px 20px;
	float: left;
	width: 60px;
}
.rating-progress:after {
	content: "";
	clear: both;
	display: table;
}
